body{
    font-family: "Arial", Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px 20px 0px 20px;

}

h1{
    text-align: center;
    font-size:42px;
    padding: 15px;
}

h2{
    font-size: 30px; 
    color: #0d0d0d; 
}

p{
    font-size: 24px;
    padding: 10px 10px 0px 0px;
}

img{
    width:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px dashed #FFFFFF;
}

div{
    min-height: 125px;
    padding: 20px;
    border: 3px solid #FFFFFF;
}
.introduction{
    border-radius: 15px;
    margin-top: 15px;
    line-height: 2;
}

.red{
    background-color: #ff0000;
    text-align:right;
    margin-left: 50px;
    border-bottom-width: 2px;
    border-left-width: 5px;

}

.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-top-width: 2px;
    border-right-width: 5px;
    color:#c4c4c4;
    
    
    
}
.blue h2{
    color:#c4c4c4;
}






.yellow{
    background-color: yellow;
    text-align: right;
    margin-left:50px;
    border-bottom-width: 2px;
    border-left-width: 5px;
    color: #707070;
}

.green{
    background-color: #008500;
    text-align: left;
    margin-right:50px;
    border-top-width: 2px;
    border-right-width: 5px;
}

footer{

    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    Border-width: 5px;
    border-style: solid;
    border-color:white;
    
}

footer p{
    text-align: right;
    font:20px;
    padding: 15px 15px 15px 0px;

}